*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30%;
}

h1 {
  background-color: #93c47d;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}

ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

li::before {
  content: "X";
  color: white;
  background-color: #E06566;
  padding: 5px;
  margin: 0 10px 0 0;
}

li {
  list-style: none;
  padding: 5px 5px 5px 0;
  color: #ff9b06;
  margin: 10px 0;
  
}

#newSkill {
  width: 73%;
  background-color: white;
  color : #93c47d;
  border: 3px solid #93c47d;
  text-transform: uppercase;
  font-size: 22px;
  padding: 0 0 5px 0;
}

button {
  width: 25%;
  background-color: white;
  color : #93c47d;
  border: 3px solid #93c47d;
  text-transform: uppercase;
  padding: 8px;
}

div {
  width: 400px;
  display: flex;
  flex-direction: column;
  column-width: 400px;


}